{% extends 'base.html' %}

{% block content %}

<div class="container-sm mt-5">
  <div class="row justify-content-md-center text-center">

    <!-- Boosted creature -->
    <div class="border rounded text-dark bg-light border-info m-2 p-2 shadow-sm col col-xs" style="max-width: 10rem;">
      <div>
	<h6 class="d-none d-sm-block">Boosted Creature</h6>
	<img class="img-fluid " src="{{ bosses.boostedcreature.image }}" alt="...">
	<p class="d-none d-sm-block">{{ bosses.boostedcreature.name }}</p>
      </div>
    </div>
    
    <!-- Boosted boss -->
    <div class="border rounded text-dark bg-light border-danger m-2 p-2 shadow-lg col col-xs" style="max-width: 10rem;">
      <div class="animate-charcter">
	<h6 class="d-none d-sm-block">Boosted Boss</h6>
	<img class="img-fluid" src="{{ bosses.boostedboss.image }}" alt="...">
	<p class="d-none d-sm-block">{{ bosses.boostedboss.name }}</p>
      </div>
    </div>

    <!-- Boosted dream court -->
    <div class="border rounded text-dark bg-light border-info m-2 p-2 shadow-sm col col-xs" style="max-width: 10rem;">
      <div>
	<h6 class="d-none d-sm-block">Dream Courts</h6>
	<img class="img-fluid" src="{{ bosses.dreamcourt.image }}" alt="...">
	<p class="d-none d-sm-block">{{ bosses.dreamcourt.name }}</p>
      </div>
    </div>

  </div>
</div>


<table class="table table-sm caption-top">
  <caption>Criaturas e Bosses Boosted</caption>
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>Boosted Boss</th>
      <th>Boosted Creature</th>
    </tr>
  </thread>

  <tbody>
    {% for creature in creatures %}    
    <tr>
        
    {% for item in creature %}
    <td>{{ item }}</td>
    {% endfor %}
    
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
