{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-md-center">
    <!-- Boosted boss -->
    <div class="card text-dark bg-light border-info m-2 shadow-sm" style="max-width: 10rem;">
      <div class="card-body">
	<h6 class="card-title">Boosted Boss</h6>
	<img src="{{ bosses.boostedboss.image }}" alt="...">
	<p>{{ bosses.boostedboss.name }}</p>
      </div>
    </div>

    <!-- Boosted creature -->
    <div class="card text-dark bg-light border-danger shadow" style="max-width: 10rem;">
      <div class="card-body">
	<h6 class="card-title">Boosted Creature</h6>
	<img src="{{ bosses.boostedcreature.image }}" alt="...">
	<p>{{ bosses.boostedcreature.name }}</p>
      </div>
    </div>

    <!-- Boosted dream court -->
   <div class="card text-dark bg-light border-info m-2 shadow-sm" style="max-width: 10rem;">
      <div class="card-body">
	<h6 class="card-title">Dream Courts</h6>
	<img src="{{ bosses.dreamcourt.image }}" alt="...">
	<p>{{ bosses.dreamcourt.name }}</p>
      </div>
    </div>

  </div>
</div>


<table class="table table-sm caption-top">
  <caption>Criaturas e Bosses Boosted</caption>
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>Boosted Boss</th>
      <th>Boosted Creature</th>
    </tr>
  </thread>

  <tbody>
    {% for creature in creatures %}    
    <tr>
        
    {% for item in creature %}
    <td>{{ item }}</td>
    {% endfor %}
    
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
