{% extends 'base.html' %}

{% block content %}

<div class="alert alert-primary" role="alert">
  <i class="bi-info-circle"></i>
  Experiência de hoje será contabilizada às 00:30h.
</div>

<a href="{{ url_for('home.download_old_exp') }}">Download files exp overall</a>

<table class="table table-hover caption-top"
       data-toggle="table"
       data-show-columns="true"
       data-custom-sort="customSort"
       data-search="true"
       data-show-columns-toggle-all="true"
       >
  <caption>Experiência do mês atual</caption>
  <thead>
    <tr>
      <th data-sortable="false" data-field="player">Player</th>
      <th data-sortable="true" data-field="exp">EXP</th>
      <th data-sortable="true" data-field="lvin">Lv. In</th>
      <th data-sortable="true" data-field="lvout">Lv. Out</th>
      <th data-sortable="true" data-field="diff">Diff</th>
    </tr>
  </thead>

  <tbody>
    {% for player in data %}
    <tr>
      <td><img src="{{ player[0] }}" style="width: 30px;"><a href="{{ url_for("user.character", character=player[1]) }}">{{ player[1] }}</a><a href="https://san.taleon.online/characterprofile.php?name={{ player[1] }}" style="margin-left:10px">
	  <svg width="10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M432 320c0-21.4 17.6-32 32-32s32 10.6 32 32v128c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64h128c21.4 0 32 17.6 32 32s-10.6 32-32 32H64v256h320V320zM488 0H360c-21.4 0-32 17.6-32 32s10.6 32 32 32h72.1L139 355c-12.5 12.5-12.5 32.8 0 45.3c12.5 12.5 32.8 12.5 45.3 0L477 109.3V184c0 21.4 17.6 32 32 32s32-10.6 32-32V32c0-17.7-14.3-32-32-32z"></path></svg>
      </a></td> 
      <td>{{ player[2] }}</td>
      <td>{{ player[3] }}</td>
      <td>{{ player[4] }}</td>
      <td>{{ player[5] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function customSort(sortName, sortOrder, data) {
    var order = sortOrder === 'desc' ? -1 : 1
    data.sort(function (a, b) {
      var aa = +((a[sortName] + '').replace(/[^-\d]/g, ''))
      var bb = +((b[sortName] + '').replace(/[^-\d]/g, ''))
      if (aa < bb) {
        return order * -1
      }
      if (aa > bb) {
        return order
      }
      return 0
    })
  }
</script>

{% endblock %}
